<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dai.zeus.finance.server.mapper.HistoryMapper">

    <resultMap id="BaseResultMap" type="com.dai.zeus.finance.api.pojo.entity.History">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="category" column="category" jdbcType="VARCHAR"/>
        <result property="firstTag" column="first_tag" jdbcType="VARCHAR"/>
        <result property="secondTag" column="second_tag" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="value" column="value" jdbcType="DECIMAL"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
        <result property="gmtModify" column="gmt_modify" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,category,first_tag,
        second_tag,name,description,
        value,user_id,user_name,
        gmt_create,gmt_modify
    </sql>
</mapper>
